{% extends 'base.html.twig' %}

{% block body %}
<div class="container py-4">
    <div class="text-center mb-4">
        <h1 class="display-5 fw-bold">Bienvenue {{ user.userIdentifier }}</h1>
        <span class="badge bg-secondary fs-6">
            <strong>Rôle :</strong> 
            {% if is_granted('ROLE_ADMIN') %}
            Administrateur
            {% else %}
            Utilisateur
            {% endif %}
        </span>
    </div>

    <h3>Vos informations :</h3>
    <ul>
        <li><strong>Email :</strong> {{ user.email }}</li>
        <li><strong>Date d'inscription :</strong> {{ user.createdAt|date('d/m/Y') }}</li>
    </ul>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="mb-2" style="display: flex; align-items: center; gap: 10px;">
            <h3>Gestion du catalogue :</h3>
            <a href="{{ path('app_manga_list') }}" class="btn btn-outline-dark">Liste de mangas</a>
        </div>
    {% endif %}

    <h3>Liste de souhait :</h3>
    {% if user.favoriteMangas is not empty %}
        <div class="row">
            {% for manga in user.favoriteMangas %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4">
                    <a class="btn btn-border-none" href="{{ path('app_manga_show', {id: manga.id, from: 'catalogue'}) }}">
                        <img 
                            class="rounded border border-dark w-100" 
                            style="height: 300px; object-fit: cover;" 
                            src="{{ manga.cover }}" 
                            alt="{{ manga.title }}" 
                        />
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Vous n'avez pas encore ajouté de mangas à vos favoris.</p>
    {% endif %}
</div>
{% endblock %}
