{% extends 'base.html.twig' %}

{% set page_title = manga is null ? 'Livre inconnu' : manga.title %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

<main class="py-5">
        <div class="container px-4 px-lg-5 my-5">
       
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 rounded">
                <img src={{ manga.cover }} alt={{ manga.title }} class="img-fluid rounded" style="height: 650px; object-fit: cover;" />
            </div>

            <div class="col-md-6">
                    <div class="small mb-1">ISBN: {{ manga.isbn }}</div>
                    <h1 class="display-5 fw-bolder">{{ page_title }}</h1>
                    <div class="fs-5">
                        <span>Auteur(s): 
                            {% for author in manga.authors %}
                                {{ author.name }}{% if not loop.last %}, {% endif %}
                            {% else %}
                                Inconnu
                            {% endfor %}
                        </span>
                    </div>
                    <div class="fs-5">
                        <span>Éditeur: {{ manga.editor.name }}</span>
                    </div>
                    <div class="fs-5">
                        <span>{{ manga.pageNumber }}{{ manga.pageNumber is not null ? ' pages' }}</span>
                    </div>
                    
                    <p class="lead">{{ manga.plot }}</p>
                    <span>Prix : {{ manga.prix }}{{ manga.pageNumber is not null ? ' €' }}</span>
                   <div class="d-flex justify-content-start mt-3 gap-3">
                        {% if from == 'admin' %}
                            <a href="{{ path('app_manga_list') }}">
                                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                    Retour à la liste
                                </button>
                            </a>
                        {% else %}
                            <a href="{{ path('app_manga_index') }}">
                                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                    Retour au catalogue
                                </button>
                            </a>
                        {% endif %}
                        <a href="{{ path('cart_add', {id: manga.id}) }}"
                        class="btn btn-outline-dark flex-shrink-0 add-to-cart-btn">Ajouter au panier</a>
                    </div>

                    <div>
                        <div class="fs-5">
                            Mangas similaires :
                        </div>
                    </div>
                
                 </div>
            </div>
        </div>
</main>
{% endblock %}