{% extends 'base.html.twig' %}

{% set page_title = manga is null ? 'Livre inconnu' : manga.title %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

<main class="py-5">
        <div class="container px-4 px-lg-5 my-5">
       
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 rounded">
<<<<<<< HEAD
                <img src={{ manga.cover }} alt={{ manga.title }} class="img-fluid" style="max-height: 500px; object-fit: cover;" />
=======
                <img src={{ manga.cover }} alt={{ manga.title }} class="img-fluid rounded" style="height: 650px; object-fit: cover;" />
>>>>>>> 7725b0c3ef619896f07c7ee44ee1ac2e401a68f0
            </div>

            <div class="col-md-6">
                    <div class="small mb-1">ISBN: {{ manga.isbn }}</div>
                    <h1 class="display-5 fw-bolder">{{ page_title }}</h1>
                    <div class="fs-5">
                        <span>Auteur(s): 
                            {% for author in manga.authors %}
                                {{ author.name }}{% if not loop.last %}, {% endif %}
                            {% else %}
                                Inconnu
                            {% endfor %}
                        </span>
                    </div>
                    <div class="fs-5">
                        <span>Éditeur: {{ manga.editor.name }}</span>
                    </div>
                    <div class="fs-5">
                        <span>{{ manga.pageNumber }}{{ manga.pageNumber is not null ? ' pages' }}</span>
                    </div>
                    
                    <p class="lead">{{ manga.plot }}</p>
                    <span>Prix : {{ manga.prix }}{{ manga.pageNumber is not null ? ' €' }}</span>
<<<<<<< HEAD
                    <div class="d-flex justify-content-evenly">
=======
                    <div class="d-flex justify-content-start mt-3 gap-3">
>>>>>>> 7725b0c3ef619896f07c7ee44ee1ac2e401a68f0
                        <a href="{{ path('app_manga_index') }}">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                Retour à la liste
                            </button>
                        </a>
<<<<<<< HEAD
                        <a href="{{ path('cart_add', {id: manga.id}) }}">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                Ajouter au panier
                            </button>
                        </a>
=======
                        <a href="{{ path('cart_add', {id: manga.id}) }}"
                                class="btn btn-outline-dark flex-shrink-0 add-to-cart-btn">Ajouter au panier</a>
>>>>>>> 7725b0c3ef619896f07c7ee44ee1ac2e401a68f0
                    </div>
                
                 </div>
            </div>
        </div>
</main>
{% endblock %}